<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Hypertrip</title>
  </head>
  <body>
    
    {% if city %}
        <h2>{{ city }}</h2>
        <h3>Language: {{city_info.language}}</h3>
        <h3>Timezone: {{city_info.timezone}}</h3>
        <h3>Weather: {{city_info.weather}}</h3>
        <h3>Currency: {{city_info.currency}}</h3>
        <h3>$1 USD is {{city_info.one_dollar_is}}</h3>
        <h3>Hotels:</h3>
        {% for hotel in city_info.hotels%}
            <h4>{{hotel.name}}</h4>
            <span>Price: {{hotel.price}}</span> / 
            <a href="{{hotel.booking_url}}">Book now</a>
        {% endfor %}
    {% else %}
    <h2>Hypertrip</h2>
    <form method="POST">
      <label for="city">Where are you going?</label>
      <input
        name="city"
        type="text"
        placeholder="Write a city"
        id="city"
        required
      />
      <input type="submit" value="Find city info!" />
    </form>
    {% endif %}
  </body>
</html>
